body {
  padding-bottom: 20px;
}

.navbar i {
  color: #996666;
}

.navbar-default .navbar-brand {
  font-size: 1.7em;
  color: #83c244;
}

.jumbotron h1 {
  color: #83c244;
  margin-bottom: 0;
}

.footer {
  padding: 0 30px 20px 0;
  color: #777;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}