/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

body.page-home {
  background-image: url("../images/city.jpg");
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: 50% 0%;
}

body.page-documentation {
  padding-bottom: 50px;
}

/* HEADER CONTENT
-------------------------------------------------- */

.header .logo, .header .links {
  margin-top: 2em;
}

.links {
  line-height: 45px;
}

.links a {
  color: #eee;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding: 30px 15px;
  background-color: #fff;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette {
  padding: 3em;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

i.featurette-icon {
  font-size: 5em;
}

/* Documentation
------------------------- */

.documentation .resource-content .panel-danger {
  margin-top: 1em;
}

.documentation .panel table tr:first-child td:first-child {
  width: 130px;
}

.documentation .line, .documentation .line .line {
  margin-left: 15px;
}

.documentation .panel-info table {
  margin: 0;
}

.documentation .panel-info table td:first-child {
  width: 100px;
}

.documentation .panel-info td.value {
  padding: 0;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding: 30px 15px;
    background-color: #fff;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
