body {
  padding-bottom: 20px;
}

body.page-documentation {
  padding-top: 30px;
  padding-bottom: 70px;
}

li.list-item-indented {
  margin-left: 15px;
}

.navbar {
  background-color: #eee;
  margin-bottom: 0;
}

.navbar #documentation {
  z-index: 10001;
}

.jumbotron h1 {
  margin-bottom: 10px;
}

.jumbotron h1 > p {
  font-size: 1.1em;
}

.jumbotron p.lead {
  margin-top: 17px;
}

.jumbotron #printer {
  position: absolute;
  top: -150px;
  z-index: 10000;
}

.row.restaurants, .row.aggregators {
  margin-top: 50px;
}

.row.restaurants h1, .row.aggregators h1 {
  font-size: 50px;
}

/* Documentation*/

.documentation .resource-content .panel-danger {
  margin-top: 1em;
}

.documentation .panel table tr:first-child td:first-child {
  width: 130px;
}

.documentation .line, .documentation .line .line {
  margin-left: 15px;
}

.documentation .panel-info table {
  margin: 0;
}

.documentation .panel-info table td:first-child {
  width: 100px;
}

.documentation .panel-info td.value {
  padding: 0;
}

.nav.nav-pills.nav-stacked .nav.nav-pills.nav-stacked {
  margin-left: 1em;
}

.nav.nav-pills.nav-stacked li a:first-child {
  font-weight: bold;
}

.nav.nav-pills.nav-stacked .nav.nav-pills.nav-stacked li a {
  font-weight: normal;
}

/* Media queries */

@media (max-width: 768px) {

  #printer {
    display: none;
  }
}
