.navbar-brand {
  font-size: 2rem;
}

.row.intro {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.row.title  {
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.row.title h1 {
  background-color: black;
  color: white;
}

.row.printer {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.pricing-header {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.card-deck {
  padding-bottom: 5rem !important;
}

.row.footer {
  padding: 5rem;
  background-color: #343a40;
  color: white;
}

.row.info-1 {
  padding-top: 4rem;
}

.row.info-1 .available, .row.info-1 .universal,
.row.info-2 .reliable, .row.info-2 .configurable {
  background-repeat: no-repeat;
  background-position: 50% 200px;
  background-size: auto;
  height: 400px;
}

.row.info-1 .available {
  background-color: #ffc107;
  background-image: url("../../assets/images/board.png");
}

.row.info-1 .available h2, .row.info-1 .available p {
  color: #333;
}

.row.info-1 .universal {
  background-color: #28a745;
  background-image: url("../../assets/images/receipt.png");
}

.row.info-2 .reliable {
  background-color: #007bff;
  background-image: url("../../assets/images/count.png");
}

.row.info-2 .configurable {
  background-color: #dc3545;
  background-image: url("../../assets/images/app.png");
}
